.av-all {
    display: inline-block;
	width: 100%;
	border: 1px solid black;
	background-color: white;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
	font-family: 'Roboto', sans-serif;
    color: rgb(187, 187, 187);
    -webkit-font-smoothing: subpixel-antialiased;
}

.av-editor_container, .av-viewer_container {
	box-sizing:border-box;
	position:relative;
	float:left;
	min-height:1px;
	margin: 0;
	padding: 0;
	width: 100%;
	border-bottom: 2px solid #505050;
}

.av-module_container {
	background: #242424;
    height: 500px;
}

.module_wrapper {
    overflow: hidden;
}

.av-all section{
    box-sizing: border-box;
}

.ace_editor {
    height: 300px;
    margin: 0;
}

.av-mtbl-wrapper {
    width: 100%;
    height: 100%;
}

.av-mtbl-table {
    display: inline-table;
    color: white;
    table-layout: fixed;
    border: 1px solid #505050;
}

.av-mtbl-row {
    display: table-row;
}

.av-mtbl-col {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #888;
}

.av-mtbl-empty-row {
    display: table-row;
    background: rgb(63, 63, 63);
    height: 2px;
}

.av-mtbl-empty-col {
    display: table-cell;
    background: rgb(63, 63, 63);
    width: 2px;
}

.av-mtbl-col.av-selected {
    background: #2962ff;
}

.av-mtbl-col.av-notified {
    background: #c51162;
}

.av-mchrt-chart {
    width: 100%;
    height: 100%;
}

.av-btn {
    display: inline-table;
}

.av-btn > .av-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.av-btn, .av-all button, .av-btn-input {
	color: white;
    vertical-align: top;
    border: none;
    height: 100%;
    padding: 0 20px;
    margin: 0;
    background: none;
    font-size: 12px;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgb(63, 63, 63);
    box-sizing: border-box;
    display: inline-block;
}

.av-btn, .av-all button, {
	cursor: pointer;
}

.av-all button {
	width: 20%;
}

.av-btn-input {
	width: 20%;
    padding: 4px 20px;
}

.av-btn:hover,
button:hover {
    background: rgba(0, 0, 0, .15);
}

.av-btn.av-active,
button.av-active {
    background: rgb(36, 36, 36);
}

.av-btn.av-active:hover,
button.av-active:hover {
    background: rgba(36, 36, 36);
    color: rgba(187, 187, 187, .8);
}

.av-all button[disabled] {
    background: rgb(63, 63, 63);
    cursor: not-allowed;
    opacity: 0.av-6;
}

.av-btn input,
.av-all button input {
	color: white;
    outline: none;
    background: rgba(0, 0, 0, .3);
    padding: 4px;
    border: none;
}

.av-top-menu-buttons button.av-active {
    font-weight: bold;
}

.av-top-menu-buttons button.av-active .fa {
    color: #00e676;
}

.av-btn_run > .av-btn-text:before {
    content: 'Run'
}

.av-btn_run.av-active > .av-btn-text:before {
    content: 'Rerun'
}

.av-btn_pause > .av-btn-text:before {
    content: 'Pause'
}

.av-btn_pause.av-active > .av-btn-text:before {
    content: 'Resume'
}

.av-btn_pause {
    width: 86px;
}

.av-top-menu-buttons button.av-active {
    box-shadow: 0px 0px 10px 3px #1a1a1a inset;
}

.av-top-menu-buttons button:active {
    box-shadow: 0px 0px 10px 3px #1a1a1a inset;
}

.av-all nav {
    width: 100%;
    padding: 0;
    display: inline-block;
}

.av-all nav > * {
    height: 28px;
}

.av-all nav h3 {
    display: inline;
}

.av-nav-arrow {
    padding: 0 4px;
}

.av-top-menu-buttons {
	box-sizing:border-box;
	position:relative;
	min-height:1px;
	margin: 0;
	padding: 0;
	width: 100%;
	background: rgb(63, 63, 63);
}

.av-interval {
    text-align: right;
}